# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
*.code-workspace

# Visual Studio related
.vs/
VisualStudioWorkspace~

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
b/

# Rust / Cargo
**/target/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio/Gradle/Android related
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
local.properties

# Secrets / Environment files
.env
.env.local
.env.*.local
*.env
testaudio.mp3
testaudio.wav
rust_lib_audio2srt.dll

test/
test_opencc.dart
assets/models/
rust/src/bin/test_df.rs
rust/third_party/
devtools_options.yaml
*.csv
